---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
				<h1>Welcome to Drewkarnia</h1>
				<p>
					Hi, I’m Drew—a computer security researcher, language enthusiast, and 
					global traveler. This site is where I share thoughts on language, culture, 
					technology, and my journey learning Polish.
					In the future, I’ll use this site to link to various projects, 
					but for now it’s just the <a href="/blog">blog</a>.
					For more about me and this site check out the 
					<a href="/about">About</a> page and my 
					<a href="https://www.linkedin.com/in/kompanek/" target="_blank" 
						rel="noopener">LinkedIn profile</a>.
				</p>
		</main>
		<Footer />
	</body>
</html>
