---
const today = new Date();
---

<footer>
   <span class="copyright"> &copy; {today.getFullYear()} Andrew&nbsp;Kompanek </span>
   <div class="social-links">
	   <a href="https://www.linkedin.com/in/kompanek/" target="_blank" rel="noopener noreferrer">
		   <span class="sr-only">Connect on LinkedIn</span>
		   <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
			   <rect width="32" height="32" rx="6" fill="#0077B5"/>
			   <path d="M10.666 13.333h2.667v8H10.666v-8zm1.333-4a1.333 1.333 0 110 2.667 1.333 1.333 0 010-2.667zm3.334 4h2.56v1.093h.037c.357-.677 1.23-1.393 2.533-1.393 2.707 0 3.2 1.787 3.2 4.107v4.193h-2.667v-3.72c0-.887-.016-2.027-1.28-2.027-1.28 0-1.48 1-1.48 2.033v3.714h-2.667v-8z" fill="#fff"/>
		   </svg>
	   </a>
   </div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
/*
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		*/
		background: var(--pale-blue-gray);
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.copyright {
		font-size: 0.85em;
	}
</style>
